<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
        }
    </style>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>Welcome, User!</title>
  </head>
  <body>
    <div class="row one">
        <div class="col-md-3">
            <div class="row alternate">
                <p id="name">Ferdi Sungkar</p>
            </div>
        </div>
        <div class="col-md-6">
            <h1 id="welcome">Hello!</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row two">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" maxlength="50" placeholder="What's your name?" required>
                    <br>
                    <input type="text" class="form-control" id="status" name="status" maxlength="50" placeholder="Tell us how are you feeling today" required>
                    <div class="row three">
                            <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
        <div class="row four">
            <div class="col-md-3"></div>
            <div class="col-md-9 res">
              <h1 id="responses">Responses</h1>
              <div class="response">
                {% for i in user %}
                <div id="res">
                  <h1 id="time">{{ i.timestamp }}</h1>
                  <h1 id="name">Name: {{ i.name }}</h1>
                  <h1 id="status">Status: {{ i.status }}</h1>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
