* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom ,#9e09a3,rgb(40, 5, 61));

}
.row {
    margin-left: 3vw;
    margin-right: 3vw;
}

.row.one {
    width: 100%;
    margin:0;
    margin-top: 2vh;
    text-align: center;
    color: #f2fcfe;
}

.row.altermate {
    width: 100%;
    margin:0;
    margin-top: 2vh;
    text-align: left;
    color: #f2fcfe;
}

.row.one #name {
    font-size: 75%;
}

.row.one #welcome {
    margin-top: 6vh;
    font-family: 'DM Serif Display', serif;
    font-size: 450%;
}

.row.two .form-group{
    font-family: 'Spartan';
    font-weight: bold;
}
.row.two .form-group input{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    background-color:rgba(0, 0, 0, 0);

    color: #EAEAEA;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    border: none;
}    

/* WebKit, Blink, Edge */
.form-control::-webkit-input-placeholder { 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #EAEAEA; 
}  
/* Mozilla Firefox 4 to 18 */
.form-control:-moz-placeholder { 
    font-family: 'Poppins', sans-serif;
    font-size: 15px; 
    text-align: center;
    color: #EAEAEA; 
}  
/* Mozilla Firefox 19+ */
.form-control::-moz-placeholder { 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #EAEAEA; 
}  
/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder { 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #EAEAEA; 
}  
/* Microsoft Edge */
.form-control::-ms-input-placeholder { 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #EAEAEA; 
}  

.row.two .form-group .row.three button{
    width: 100%;
    padding: 7px 30px;
    margin-top: 15px;
    margin-left: 10vw;
    margin-right: 10vw;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);

    color: rgb(40, 5, 61);
}

.row.two .form-group .row.three button:hover{
    background-color: #ffffff;
    box-shadow: inset 3px 3px 3px 0 rgba(255, 255, 255, 0.2);

    color: #ffffff;
}

.row.four .res {
    width: 100%;
    margin-top: 3vh;

    text-align: center;
    color: #f2fcfe;
}

.row.four .res #responses{
    font-size: 150%;
}

.row.four .res .response {
    max-height: 35vh;
    overflow-y: scroll;
}
.row.four .res #res{
    width: 70%;
    margin-right: auto;
    margin-left: auto;

    background-color: #4b6cb7;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
    margin-bottom: 5%;
}

.row.four .res #res:hover{
    background-color: #2b4172;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
}

.row.four .res #res h1 {
    font-size: 15px;
    padding: 10px;

}

.row.four .res #res h1#name, .row.four .res #res h1#status {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.row.four .res #res h1#status {
    padding-bottom: 10px;
}

.row.five {
    margin-top: 17%;
}

.row.five .info {
    font-size: 175%;
    text-align: center;
    font-weight: bold;
    color: #f2fcfe;
}

.row.six {
    width: 90%;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;

    background-color: #4b6cb7;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
    margin-bottom: 5%;
}

.row.six:hover {
    color: #f2fcfe;
    background-color: #2b4172;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
}

.row.six input {
    padding: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    background-color:rgba(0, 0, 0, 0);

    color: #EAEAEA;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    text-align: center;
    border: none;
}
.row.five .row.seven {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row.five .row.seven input#confirmation {
    width: 30%;
    padding: 7px 30px;
    margin-top: 15px;
    margin-left: 18vw;
    margin-right: 18vw;

    background-color: #182848;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);

    color: #EAEAEA;
}

.row.five .row.seven input#confirmation:hover {
    background-color: #253964;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
}

.row.five .row.seven a#cancel {
    width: 100%;
    padding: 7px 30px;

    background-color: transparent;

    text-align: center;
    color: #DC281E;
}


